body, html{
    height: 100%;
    background-image: url("bakgrunnsbilde.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

h1{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

p{
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: black;
}

.subtitle{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    }

li{
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: black;
}

strong{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.Navigering {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    height: 30px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 60px;
}


.Container {
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    width: 320px;
    height: 500px;
}

.Image {
    flex-basis: 25%;
}

.Text {
    font-size: 22px;
    padding-left: 15px;
    width: 300px;
    
}



h1{
    text-align: center;
    padding-bottom: 20px;
}

.footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    height: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: lightgrey;
} 
