body, html{
    height: 100%;
    background-image: url("bakgrunnsbilde.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

p{
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: black;
}

.Navigering {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: space-between;
    background-color: lightgray;
    height: 60px;
    width: 100%;
    top: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    color: black;
}

div{
    width: 250px;
}


img {
    width: 250px;
    height: 400px;
}