body{
    height: 100%;
    background-image: url("bakgrunnsbilde.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
   
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
 
img {
    height: 400px;
    width: 400px;
    padding-bottom: 50px;
   
 }

.projects{
    display: flex;
    flex-direction: row; 
    text-align: center; 
    padding-left: 5px;
    padding-right: 5px;
}


.project{
    text-align: center;
    margin: 10px;
}

 .header {
    text-align: center;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
 }

 h3 {
     text-align: center;
     margin: 10px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     padding-bottom: 20px;
    
 }

 .subtitle{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     width: 90%; 
     text-align:justify;
     padding-left: 20px;
     padding-right: 20px;
     padding-bottom: 30px;
 }

 .Navigering {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    height: 30px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 60px;
}

.footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    height: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: lightgrey;
}  
