body{
    background-color: floralwhite;
    margin: auto;
    width: 99%;
}
   
p {
    font-family: 'Times New Roman', Times, serif;
    color: black
}
 
img {
    height: 400px;
    width: 400px;
   
 }

.projects{
    display: flex;
    flex-direction: row;  
}


.project{
    text-align: center;
    margin: 10px;
}

 .header {
    text-align: center;
    margin: 10px;
    
 }

 h3 {
     text-align: center;
     margin: 10px;
    
 }

 .subtitle{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     width: 100%; 

 }

 .Navigering {
    background-color: lightgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    height: 50px;
}

 
